body {
	font-family: calibri;
	font-size: 60px;
}

.charBox {
	width: 100px;
	height: 100px;
	margin-right: 20px;
	margin-top: 15px;
	float: left;
	border-style: solid;
	border-color: #EEEEEE;
	text-align: center;
}